<ion-header>
	<ion-navbar color="primary" no-border-bottom>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Recettes</ion-title>
		<ion-buttons end>
			<button ion-button clear icon-only  (click)="goBasket()">
	      <ion-icon name='cart' is-active="false"></ion-icon>
			</button>
		</ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content no-padding>

	<ion-card style="height:210px; background-color:white;">
		<ion-grid no-padding>
			<ion-row>
				<ion-col>
					<ion-card-header><b>Nouveautées</b></ion-card-header>
				</ion-col>
				<ion-col text-right>
					<button ion-button no-margin padding-top clear icon-only color="theme-color">
						<ion-icon name="list" is-active="false"></ion-icon>
					</button>
				</ion-col>
			</ion-row>
		</ion-grid>
		<ion-card-content style="padding-top: 0">
			<ion-scroll scrollX="true" style="white-space: nowrap; height: 200px;" no-padding>
				<ion-card *ngFor="let recipe of recipes" class="singleRecipe" no-margin (click)="showRecipe(recipe.id)" style="background-color: white">
					<img src={{recipe.imgSrc}}>
					<ion-card-content no-padding margin-top>
						<ion-grid no-padding>
							<ion-row>
								<ion-col no-padding text-uppercase col-8>
									<div class="cut-text-title">{{recipe.name}}</div>
								</ion-col>
								<ion-col no-padding text-right col-2>
									<ion-icon color="primary" name="star"></ion-icon>{{recipe.note}}
								</ion-col>
							</ion-row>
							<ion-row>
								<ion-col col-6 no-padding>
									<div class="cut-text-difficulty">{{recipe.difficulty}}</div>
								</ion-col>
								<ion-col col-4 no-padding text-right>
									<ion-icon color="primary" name="time"></ion-icon>{{recipe.duration}}
								</ion-col>
							</ion-row>
						</ion-grid>
						<div class="hline"></div>
					</ion-card-content>
				</ion-card>
			</ion-scroll>
		</ion-card-content>
	</ion-card>

	<ion-card style="height:210px; background-color:white;">
		<ion-grid no-padding>
			<ion-row>
				<ion-col>
					<ion-card-header><b>Recettes de saisons</b></ion-card-header>
				</ion-col>
				<ion-col text-right>
					<button ion-button no-margin padding-top clear icon-only color="theme-color">
						<ion-icon name="list" is-active="false"></ion-icon>
					</button>
				</ion-col>
			</ion-row>
		</ion-grid>
		<ion-card-content style="padding-top: 0">
			<ion-scroll scrollX="true" style="white-space: nowrap; height: 200px;" no-padding>
				<ion-card *ngFor="let recipe of recipes" class="singleRecipe" no-margin (click)="showRecipe(recipe.id)" style="background-color: white">
					<img src={{recipe.imgSrc}}>
					<ion-card-content no-padding margin-top>
						<ion-grid no-padding>
							<ion-row>
								<ion-col no-padding text-uppercase col-8>
									<div class="cut-text-title">{{recipe.name}}</div>
								</ion-col>
								<ion-col no-padding text-right col-2>
									<ion-icon color="primary" name="star"></ion-icon>{{recipe.note}}
								</ion-col>
							</ion-row>
							<ion-row>
								<ion-col col-6 no-padding>
									<div class="cut-text-difficulty">{{recipe.difficulty}}</div>
								</ion-col>
								<ion-col col-4 no-padding text-right>
									<ion-icon color="primary" name="time"></ion-icon>{{recipe.duration}}
								</ion-col>
							</ion-row>
						</ion-grid>
						<div class="hline"></div>
					</ion-card-content>
				</ion-card>
			</ion-scroll>
		</ion-card-content>
	</ion-card>

	<ion-card style="height:210px; background-color:white;">
		<ion-grid no-padding>
			<ion-row>
				<ion-col>
					<ion-card-header><b>Toutes les recettes</b></ion-card-header>
				</ion-col>
				<ion-col text-right>
					<button ion-button no-margin padding-top clear icon-only color="theme-color">
						<ion-icon name="list" is-active="false"></ion-icon>
					</button>
				</ion-col>
			</ion-row>
		</ion-grid>
		<ion-card-content style="padding-top: 0">
			<ion-scroll scrollX="true" style="white-space: nowrap; height: 200px;" no-padding>
				<ion-card *ngFor="let recipe of recipes" class="singleRecipe" no-margin (click)="showRecipe(recipe.id)" style="background-color: white">
					<img src={{recipe.imgSrc}}>
					<ion-card-content no-padding margin-top>
						<ion-grid no-padding>
							<ion-row>
								<ion-col no-padding text-uppercase col-8>
									<div class="cut-text-title">{{recipe.name}}</div>
								</ion-col>
								<ion-col no-padding text-right col-2>
									<ion-icon color="primary" name="star"></ion-icon>{{recipe.note}}
								</ion-col>
							</ion-row>
							<ion-row>
								<ion-col col-6 no-padding>
									<div class="cut-text-difficulty">{{recipe.difficulty}}</div>
								</ion-col>
								<ion-col col-4 no-padding text-right>
									<ion-icon color="primary" name="time"></ion-icon>{{recipe.duration}}
								</ion-col>
							</ion-row>
						</ion-grid>
						<div class="hline"></div>
					</ion-card-content>
				</ion-card>
			</ion-scroll>
		</ion-card-content>
	</ion-card>

  <ion-fab right bottom>
    <button ion-fab color="primary" (click)="goNewRecipe()"><ion-icon name="add"></ion-icon></button>
  </ion-fab>
</ion-content>
