page-recipe {
	img{
		object-fit: cover;
		border-radius: 5px;
		object-position: center;
		height: 118px;
	}

	.ion-cardSize{
		min-height: 30%;
	}

	.categorieTitle{

	}

	.singleRecipe{
		max-width: 150px;
		height: 200px;
		display: inline-block;
		box-shadow: none;
	}

	.singleRecipe ion-icon{
		margin-right: 2px;
	}
}
