page-recipe {
	img{
		size: 100%;
		border-radius: 5px;
	}
	.ion-cardSize{
		min-height: 30%;
	}

	.categorieTitle{

	}

	.singleRecipe{
		max-width: 150px;
		height: 200px;
		display: inline-block;
		box-shadow: none;
	}

	.singleRecipe ion-icon{
		margin-right: 2px;
	}
}
