page-recipe {
	img{
		size: 100%;
		border-radius: 5px;
	}
	.ion-cardSize{
		min-height: 30%;
	}

	.categorieTitle{

	}

	.singleRecipe{
		max-width: 150px;
		height: 200px;
		// margin-bottom: none;
		// margin-left: 5px;
		// margin-right: 5px;
		// width: 20vw;
		display: inline-block;
		box-shadow: none;
		// margin: 5px;
		// // padding: 5px;
		// text-align: left;
		// border-style: none;
		// border-color: rgb(51,51,51);
		// border-width: medium;
		// background-color: rgb(255, 255, 255);
		// border-image-outset: 0px;
	}

	.singleRecipe ion-card-content{

	}
}
