<ion-header>
	<ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{recipeInfo.name}}</ion-title>
		<ion-buttons end>
			<button ion-button clear icon-only  (click)="goSettings()">
	      <ion-icon name='cart' is-active="false"></ion-icon>
			</button>
		</ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content no-padding>
	<ion-card>
		<img src={{recipeInfo.imgUrl}}>
		<ion-card-content no-padding>
			<ion-grid>
				<ion-row>
					<ion-col col-6>
						Proposée par {{recipeInfo.author}}
					</ion-col>
					<ion-col *ngIf="recipeInfo.people=='1'" text-right>
						<ion-icon name="person" color="primary"></ion-icon> {{recipeInfo.people}} personne
					</ion-col>
					<ion-col *ngIf="recipeInfo.people!='1'" text-right>
						<ion-icon name="people" color="primary"></ion-icon> {{recipeInfo.people}} personnes
					</ion-col>
				</ion-row>
				<ion-row>
					<ion-col col-4>
						<ion-icon color="primary" name="time"></ion-icon> {{recipeInfo.time}} m
					</ion-col>
					<ion-col text-center>
					{{recipeInfo.difficulty}}
					</ion-col>
					<ion-col col-4 text-right>
					<ion-icon name="logo-usd" color="primary"></ion-icon> {{recipeInfo.priceCat}}
					</ion-col>
				</ion-row>
			</ion-grid>
		</ion-card-content>
</ion-card>
<ion-card>
	<ion-slides pager>
	<ion-slide>
	<ion-card-header>
	Ingrédients
	</ion-card-header>
	<ion-list>
		<ion-item *ngFor="let ingredient of ingredientList">
			<h2>{{ingredient.name}}</h2>
			<p>Quantité: {{ingredient.quantity}}</p>
			<button ion-button clear item-end><ion-icon name="search" color="primary"></ion-icon></button>
		</ion-item>
	</ion-list>
	</ion-slide>
	<ion-slide>
	<ion-card-header>
	Instructions
	</ion-card-header>
	<ion-list text-wrap>
		<ion-item *ngFor="let step of stepList; let i = index">
			<h2>Étape {{i+1}}: </h2>
			<p>{{step}}</p>
		</ion-item>
	</ion-list>
	</ion-slide>
	</ion-slides>
</ion-card>
</ion-content>
