<ion-header>
	<ion-navbar color="theme-color">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Produits</ion-title>
		<ion-buttons end>
			<button ion-button clear icon-only (click)="goBasket()"	>
	      <ion-icon name='cart' is-active="false"></ion-icon>
			</button>
		</ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>

	<ion-card style="height: 220px;">
		<ion-card-header>
			Nouveautées
			<button ion-button clear icon-only color="theme-color" style="padding: 26px; text-align:right;">
	      <ion-icon name='list' is-active="false"></ion-icon>
			</button>
		</ion-card-header>
		<ion-scroll scrollX="true" style="white-space: nowrap; height:180px;" (click)="goNewProduct()">
			<div *ngFor="let product of products" style="display: inline-block">
				<img src={{product.imgSrc}}>
				<p>{{product.imgTitle}}</p>
				<div class="hline"></div>
			</div>
		</ion-scroll>
	</ion-card>

	<ion-card style="height: 220px;">
		<ion-card-header>Les produits de saisons</ion-card-header>
		<ion-scroll scrollX="true" style="white-space: nowrap; height:180px;" (click)="goSeasonProduct()">
			<div *ngFor="let product of products" style="display: inline-block">
				<img src={{product.imgSrc}}>
				<p>{{product.imgTitle}}</p>
				<div class="hline"></div>
			</div>
		</ion-scroll>
	</ion-card>

	<ion-card style="height: 220px;">
		<ion-card-header>Tout les produits</ion-card-header>
		<ion-scroll scrollX="true" style="white-space: nowrap; height:180px;" (click)="goAllProduct()">
			<div *ngFor="let product of products" style="display: inline-block">
				<img src={{product.imgSrc}}>
				<p>{{product.imgTitle}}</p>
				<div class="hline"></div>
			</div>
		</ion-scroll>
	</ion-card>

</ion-content>
